<form action="/todos/{{todo._id}}?_method=PUT" method="post">
    <input type="checkbox" name="isDone" {{#if todo.isDone}} checked {{/if}}>
    <input type="text" placeholder="name..." name="name" value="{{todo.name}}">
    <button type="submit">Save</button>
    <form action="/todos/{{todo._id}}/delete" method="post" style="display: inline;">
        <button type="submit">delete</button>
    </form>
    <a href="/">Back</a>
</form>